* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: monospace;
}

body {
  /* Prevent accidental page-zooming and text selection while interacting with buttons, etc. */
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

.accent-1 { accent-color: blue }
.accent-2 { accent-color: red }
.accent-3 { accent-color: purple }
.accent-4 { accent-color: orange }

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.gap-1 {
  gap: 0.5em;
}
.gap-2 {
  gap: 1em;
}

.gap-3 {
  gap: 1.5em;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-lg {
  font-size: 1.5em;
}

.text-xl {
  font-size: 2em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.display-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.min-w-sm {
  min-width: 250px;
}

.max-w-md {
  max-width: 450px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-2 {
  margin: 1em;
}

.mt-4 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 1em;
}

.p-1 {
  padding: 0.5em;
}

.p-2 {
  padding: 1em;
}

.pt-4 {
  padding-top: 2em;
}

.pb-2 {
  padding-bottom: 1em;
}

.pl-2 {
  padding-left: 1em;
}

.pr-2 {
  padding-right: 1em;
}

.px-2 {
  padding-left: 1em;
  padding-right: 1em;
}
