* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: monospace;
  box-sizing: border-box;
}

body {
  /* Prevent accidental page-zooming and text selection while interacting with buttons, etc. */
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

.accent-1 { accent-color: blue }
.accent-2 { accent-color: red }
.accent-3 { accent-color: green }
.accent-4 { accent-color: orange }

.box-shadow {
  box-shadow: 0 0 #000, 0 0 #000, 0 24px 48px -12px rgba(0, 0, 0, 0.25);
}

.flex { display: flex; }

.flex-col { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }

.gap-1 { gap: 8px; }
.gap-2 { gap: 16px; }
.gap-3 { gap: 24px; }

.align-center { align-items: center; }

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

.border-none { border: none; }

.radius-2 { border-radius: 16px; }

.text-lg { font-size: 150%; }
.text-xl { font-size: 200%; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.display-none { display: none; }

.w-100 { width: 100%; }

.min-w-sm { min-width: 250px; }
.max-w-md { max-width: 450px; }

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-4 { margin-top: 32px; }

.p-1 { padding: 8px; }
.p-2 { padding: 16px; }
.p-3 { padding: 24px; }
.p-4 { padding: 32px; }

.pb-2 { padding-bottom: 16px; }

.pl-2 { padding-left: 16px; }

.pr-2 { padding-right: 16px; }

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}
